<!DOCTYPE html>
<html>
<head>
  <title>WANT TO SEE AT GLASTONBURY</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="//use.typekit.net/fte1chk.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= csrf_meta_tags %>
</head>
<body data-background="<%= asset_path("background.jpg") %>">

<div class="container">
<%= yield %>
</div>

</body>
</html>
